/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --accent-color: #ff0070;
  --header__title-color: #db00ff;
  --header__title-color-shadow: #ff0070;
  --paragraph-color: #000028;
  --title-decor-color: #ff0070;
  --main__paragraph-color: #f1b2ce;
  --background-image: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  .rec {
    display: block;
  }
}
